body {
    background-color: #fff;
    color: black;
    font: normal 17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
    font-family:sans-serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
	font-weight: 800;
	color: #444;
	font-size: 65px;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 25px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 20px;
}

a {
    font-family: sans-serif;
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #005ce6;
}

strong {
	font-weight: bold;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
}

header {
	height: 120px;
}

header h1 {
	float: left;
	margin-top: 32px;
    margin-left: 78px;
}

header h1 .color {
	color: #005ce6;
}

header nav {
	float: right;
    margin-right: 77px;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 50px;
}

header nav ul li a {
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}

#main-image {
	height: 710px;
	padding-top: 1px;
	background: white url('../images/main_page.jpeg') no-repeat ;
    background-size: cover;
    background-position: center;
}

#main-image h2 {
	margin: 180px 0 40px 0;
    color: #444;
    text-shadow: -1px 0 #005ce6, 0 1px #005ce6, 1px 0 #005ce6, 0 -1px #005ce6; /* CSS3 text-shadow */
}

.button-1 {
	display: block;
	text-align: center;
	background: #005ce6;
	border-radius: 3px;
	color: #444;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto;
}

.button-1:hover {
	background-color: #444;
	color: #005ce6;
}

.button-2 {
    display: block;
    text-align: center;
    background: #005ce6;
	border-radius: 5%;
	color: #444;
	width: 100px;
	font-size: 15px;
	line-height: 50px;
	margin: 0 auto;
    text-align: center;
    float:left;
    padding: 0 1px 1px 0;
}
.button-2:hover {
    background-color: #444;
    color: #005ce6;
}

footer {
	padding: 74px 0;
    margin-bottom: 0;
}

#footer-links {
	float: right;
}

#footer-links ul {
	float: left;
	margin-left: 50px;
    margin-right: 77px;
    list-style: none;
}

#footer-links ul li {
	margin: 10px 0;
    float:left;
    padding: 2px;
    margin-right: 5px;
    color: #444;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}

#main {
    float: left;
    height: auto;
}

#main_text {
    margin-left: 78px;
}

div.img {
    margin: 15px; 
    float: left;
    width: 225px;
    height: 325px;
}

div.img img {
    width: 100%;
    height: auto;
}

div.img img:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
}

#text-heads {
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
    float:left;
    margin-right: 160px;
}

#text {
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
    margin-left: 26px;
}

form {
    padding: 2px;
    float:left;
    margin-bottom: 30px;
    font: normal sans-serif;
    
}

#contacts {
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
    margin: 0 300px 25px 0;
    float: left;
}

#map {
    border: 1px solid black;
    height: 595px;
    width: 590px;
    margin: 0;
    padding: 0;
    float: right;
/*    position: fixed;*/
    margin-right: 77px;
}

#clear {
    clear: both;
}

#full-page {
    min-height: 831px;
}

p {
    text-transform: none;
}

p a {
    text-decoration: underline;
}

table{
    border: 1px solid #444;
}

table tr{
    border: 1px solid #444;
}

table tr td{
    border: 1px solid #444;
    text-align: center;
}
